/**3-26-2023 Hai Trinh Staff section**/
*{
    margin:0;
    padding:0;
}
.scrollbar{
    width: 500px;
    display:flex;
    overflow-x: scroll;
    justify-content: space-between;
    height: 200px;
}
.scrollbar-section::-webkit-scrollbar{
    width: 10px;

}
.scrollbar .scrollbar-staff{
    
    background-color: #ddd;
    margin-right: 10px;
    border-radius: 10px;
    cursor: pointer;

}

.scrollbar-staff img{
    width: 100%;
    height: 70%;
}

.scrollbar-section{
    display:flex;
    justify-content: center;
}

.card-title{
    text-align: center;
    margin-top: 10px;
}

/**3-30-2023 Hai Trinh Events section**/
.events-section{
    background-color: #FAE29C;
}

.events-title{
    margin-top: 25px;
}
.title{
    display:flex;
    justify-content: center;
    align-items: center;
}
.title > h1{
    text-align: center;
}

.events-container{
    display: flex;
    justify-content: center;
    height: 350px;
}

.events-scrollbar{
    width: 1000px;
    display:flex;
    
    overflow-x: auto;
    justify-content: space-between;
    height:300px
}


.events-container::-webkit-scrollbar{
    width: 10px;
    height:10px;

}

.event-card{
    background-color: #ddd;
    margin-right: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.card-body{
    display:grid;
    grid-template-rows: repeat(10, 30px);
    grid-template-columns: 100px  300px;

}

.event-date{
    grid-row:1/5;
    border-right: 5px solid olive;
}

.event-date-day{
    display: flex;
    justify-content: center;
}

.event-date-month{
    display: flex;
    justify-content: center;
    
}

.event-title{
    grid-row: 1/4;
    display: flex;
    justify-content: center;
}

.event-destination{
    grid-row: 5/6;
    grid-column: 2;
    display: flex;
    
}

.destination{
    margin-left: 10px;
}

.event-contactNumber{
    grid-row: 6/7 ;
    grid-column: 2;
    display: flex;
    
}

.contactNumber{
    margin-left: 10px;
}

.event-contactEmail{
    grid-row: 7/8;
    grid-column: 2;
    display: flex;
}

.contactEmail{
    margin-left: 10px;
}

.news-section{
    background-color: #D3D3D3;
}

.news-title{
    margin-top: 25px;
}
.title{
    display:flex;
    justify-content: center;
    align-items: center;
}
.title > h1{
    text-align: center;
}

.news-container{
    display: flex;
    justify-content: center;
    height: 350px;
}

.news-scrollbar{
    width: 1000px;
    display:flex;
    
    overflow-x: auto;
    justify-content: space-between;
    height:300px
}


.news-container::-webkit-scrollbar{
    width: 10px;
    height:10px;

}

.news-card{
    background-color: #ddd;
    margin-right: 10px;
    border-radius: 10px;
    cursor: pointer;
}


.news-date{
    grid-row:1/5;
    border-right: 5px solid olive;
}

.news-date-day{
    display: flex;
    justify-content: center;
}

.news-date-month{
    display: flex;
    justify-content: center;
    
}

.news-title{
    grid-row: 1/4;
    display: flex;
    justify-content: center;
}


.news-destination{
    grid-row: 5/6;
    grid-column: 2;
    display: flex;
    
}

.destination{
    margin-left: 10px;
}

.news-description{
    grid-row: 6/7 ;
    grid-column: 2;
    display: -webkit-box;
    
}

.description{
    margin-left: 10px;
}

.news-contactEmail{
    grid-row: 8/7;
    grid-column: 2;
    display: flex;
}

.contactEmail{
    margin-left: 10px;
}