<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    
    
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='/css/homepageStyles.css')}}">
    
    <script src="https://code.jquery.com/jquery-3.6.4.slim.js" integrity="sha256-dWvV84T6BhzO4vG6gWhsWVKVoa4lVmLnpBOZh/CAHU4=" crossorigin="anonymous"></script>
    <script src="scripts/homepage.js"></script>
    <link rel="stylesheet" href="css/homepageStyles.css">
    <title>Homepage</title>
</head>
<style>
    
</style>
<body>

    <!--Hai Trinh 3-28-2023 OurStaff Section-->
    
    <div class="row">
        <div class="col-12">
            <h1 class="ms-5">
                Meet Our Staff
            </h1> 
        </div>    
    </div>
   
    <div class="container mt-3">
        <h1 class="text-center mb-3">Top 3 Staff Members</h1>
        <div class="scrollbar-section">
            <div class="scrollbar">
                {% for staff_member in staff_members %}
                <div class="scrollbar-staff shadow-lg" class="card" >
                    <img class="card-img-top" src="{{staff_member.image_url}}" alt="{{staff_member.name}}">
                    <div class="card-body" style="width: 150px; height: 1em;" >
                        <h5 class="card-title">{{staff_member.name}}</h5>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <!--Hai Trinh 3-30-2023-->
    <div class="events-section">
        <div class="events-title row" >
            <div class="title col-12">
                <h1>Event</h1>
            </div>
        </div>
    
        <div class="events-container">
            <div class="events-scrollbar">
                <div class="event-card shadow-lg" class="card" >
                    <div class="card-body" style="width: 400px; height: 100px;" >
                        
                    </div>
                </div>
                <div class="event-card shadow-lg" class="card" >
                    <div class="card-body" style="width: 400px; height: 100px;" >
                        
                    </div>
                </div>
                <div class="event-card shadow-lg" class="card" >
                    <div class="card-body" style="width: 400px; height: 100px;" >
                        
                    </div>
                </div>
                <div class="event-card shadow-lg" class="card" >
                    <div class="card-body" style="width: 400px; height: 100px;" >
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    


</body>
</html>