<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='/css/styles.css')}}">
    <title>Document</title>
</head>
<body>
    <div class="main-session">
        <div class="input-form">
            <div class="username">
                <label><img src=""/></label>
                <input type="text" class="username-input" placeholder="username">
                <br>
                <label><img src=""/></label>
                <input type="text" class="password-input" placeholder="password">
            </div>
            <div class="password"></div>
            <div class="signin-message">Don't Have an account? <a class="signin-link">Main account?</a></div>
            <button class="login-button">Login</button>
        </div>
    </div>

</body>
</html>

